<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Form</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--========== UNICONS ==========-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!--========== BOXICONS ==========-->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <!--========== NAVBAR ==========-->
    <header class="header_wrapper">
        <nav class="navbar fixed-top">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <h1 style="color: rgb(30, 30, 30); margin-top: 1px;">LOGO</h1>
                </div>
                <div class="image">
                    <img src="../../images/profile-8.jpg">
                </div>
            </div>
        </nav>
    </header>

    <!--========== SIDEBAR ==========-->
    <aside class="sidebar" id="sidebar">
        <nav class="nav">
            <div class="left_home">
                <i class="uil uil-home"></i>
            </div>
            <div style="background-color: white;" class="left_user">
                <i style="color: rgb(21, 169, 249);" class="uil uil-user"></i>
            </div>
            <div class="left_list">
                <i class="uil uil-list-ul"></i>
            </div>
        </nav>
    </aside>

    <!--========== SURVEYFORM ==========-->

    <div class="container">
        <div class="row">
            <div>
                <h3 style="margin-left: 80px;">Create Survey</h3>
            </div>
            <input style="margin-left: 850px; background-color: #cecece; color: black; margin-top: -70px; flex-direction: row;" class="btn" type="cancel" value="Cancel" id="cancel" />
            <input class="btn" type="submit" value="Submit" id="submit" />
            <hr style="height:1px;width:1100px;border:none;color:#6c6464;background-color:#747373; margin-top: -20px;" />
            <div class="col-md-6 main">
                <form action="/sign_up" method="POST">
                    <div class="mb-4">
                        <h5>Name</h5>
                        <input type="text" name="" class="form-control" placeholder="Name Here"
                            autocomplete="off">
                    </div>
                    <br>
                    <div class="mb-4">
                        <h5>Description</h5>
                        <textarea cols="40" rows="4" class="form-control" id="description" name="description" placeholder="Description"
                            autocomplete="off">
                            </textarea>
                    </div>
                    <br>
                    <div class="mb-4">
                        <h5>Type of Survey</h5>
                        <select id="survey" name="survey">
                            <option value="">Select</option>
                            <option value="Survey1">Image</option>
                            <option value="Survey2">video</option>
                            <option value="Survey3">Feedback</option>
                            <option value="Survey4">Product</option>
                        </select>
                    </div>
                    <div class="vl">
                    </div>
                </form>
            </div>
            <div class="col-md-3">
            </div>
        </div>
        <div class="row2">
            <form action="/sign_up" method="POST">
                <div class="icon-wrapper">
                    <h5>Start Date</h5>
                    <ion-icon name="calendar-clear-outline" aria-hidden="true"></ion-icon>

                    <input type="date" name="startdate" id="startdate" class="form-control">

                    <ion-icon name="chevron-down" aria-hidden="true"></ion-icon>
                </div>
                <div class="icon-wrapper-2 form-inline">
                    <h11>End Date</h11>
                    <ion-icon name="calendar-clear-outline" aria-hidden="true"></ion-icon>

                    <input type="date" name="enddate" id="enddate" class="form-control">

                    <ion-icon name="chevron-down" aria-hidden="true"></ion-icon>
                </div>
                <div class="mb-4">
                    <h12 style="margin-left: 700px; margin-top: -420px; display: flex;">Other Criteria</h12>
                    <textarea style="width: 500px; margin-left: 700px; margin-top: 10px;" cols="40" rows="4" class="form-control" id="criteria" name="criteria" placeholder="Enter Here"
                        autocomplete="off">
                        </textarea>
                </div>
                <div class="drag">
                    <h12 style="margin-left: 700px; margin-top: 30px; display: flex;">Upload Image</h12>
                    <div class="drop-zone">
                        <div class="icon"><i class="uil uil-upload-alt"></i></div>
                        <span class="drop-zone__prompt">Drag & Drop to Upload Files</span>
                        <input type="file" name="myFile" id="myFile" style="visibility:hidden;" class="drop-zone__input">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="./main.js"></script>
</body>

</html>